services:
  web:
    build: ./
    restart: always
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             uvicorn blogweb.asgi:application --host 0.0.0.0 --port 8000"
    ports:
      - 8000:8000
  caddy:
    image: caddy:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - web
volumes:
  caddy_data:
  caddy_config: